<!DOCTYPE html>
<html>
  <head>
    <title>nurdCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="blacktent.svg" sizes="any" type="image/svg+xml">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
